# /etc/systemd/system/via.service
[Unit]
Description=Appello 'via' service
After=network.service
#Requires=network.service

[Service]
EnvironmentFile=/opt/appello-via/systemd.environment
ExecStart=/opt/appello-via/via.js
ExecReload=/usr/sbin/fuser -HUP -ks /run/via.pid
TimeoutStopSec=20
Restart=always

[Install]
WantedBy=multi-user.target

