# /etc/systemd/system/appello.service
[Unit]
Description=Appello service
After=network.service
#Requires=network.service

[Service]
EnvironmentFile=/opt/appello-via/systemd/appello.environment
ExecStart=/opt/appello-via/appello.js
ExecReload=/usr/sbin/fuser -HUP -ks /run/appello.sock
TimeoutStopSec=15
Restart=always

[Install]
WantedBy=multi-user.target

